---
---
<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- HEAD -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Relaunch of Nonprofit Lunch and Learns</title>
<meta name="keywords" content="SOURCE, Claremont Mckenna, Kravis Leadership, Nonprofit Consulting, Nonprofit" />
<meta name="description" content="We are incredibly excited to present our 2015-2016 Year-End Report to you, our friends, partners, and supporters.">
<meta name="author" content="ukiyo designs">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

{% include header-css.html %}

<!-- BEGIN JQUERY -->
<script type="text/javascript" src="/assets/plugins/jquery.min.js"></script>
<!-- END JQUERY -->

<!-- FAVICON -->
<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
<!-- END FAVICON -->
</head>
<body>
    <div id="" class="section-modal">
        <div class="row margin-b-30">
            <div class="col-sm-10 col-sm-offset-1 article-actions">
                <span id="btn-close-modal" class="close-modal back-to-home-button"> 
                    <a href="/" class="btn-base-brd btn-base-xs">Home</a>
                </span>
                <span class="float-right"><a href="/"><img class="article-logo" src="/assets/img/SOURCE%20logo%20(1).PNG"></a></span>
            </div>
        </div>
        <div class="modal-row extra-letter-margin">
            {% include brownbags-modal.html %}
        </div>
    </div>
    {% include scripts.html %}
</body>
</html>