<div class="center-me margin-top-75">
    <h2 class="">Our Successful Introduction of Nonprofit Brown Bag Speaker Series</h2>
    <p><span class="fa fa-pencil"></span> Ethan Tom</p>
    <div class="share-me" id="share-brownbags"></div>
</div>
<div class="col-sm-12 col-md-8 col-md-offset-2 mobile-margin-b margin-b-100">
    <p>Since its launch last year, SOURCE Nonprofit Brown Bags (NBBs) have grown into a strong, thriving program that various stakeholders in the community beyond SOURCE have invested themselves in. These monthly luncheons provide a safe space for nonprofits to share ideas and solutions, and hope to inspire collaboration within our community to  Further capitalize on the resources we share.</p>
    <p>This year, in addition to preserving a forum for sharing insights and networking, SOURCE also introduced an educational component to our NBBs called the SOURCE Speaker Series.</p>
    <div class="modal-img-container">
        <img class="modal-photo" src="/assets/img/SOURCE/brownbags/brownbags-cover.jpg">
    </div>
    <p>Through this addition, SOURCE invites expert speakers to each luncheon to lead workshops/panels addressing a variety of key nonprofit organizational priorities, tailored to our Claremont nonprofit community. Topics vary based on community demand, and have included:  </p>
    <ul>
        <li>Fund Development with Josh Walters, former Director of Leadership Giving from Claremont McKenna College</li>
        <li>Grant Writing TIps with representatives from Ralph M. Parsons Foundation, Weingart, and Rose Hills Foundation</li>
        <li>Digital Web Strategy with Sarah Twombly from Blue State Digital</li>
    </ul>
    <p>Overall, the addition of the Speaker Series has been warmly received, with numerous nonprofits noting that these opportunities to speak with other nonprofits and outside experts have inspired them to think of new and innovative ways of overcoming challenges.</p>
    <p>The Nonprofit Brown Bag program has seen significant growth over the past year, with over 20 different nonprofits and more than 40 attendees attending our most recent Nonprofit Brown Bag. SOURCE is honored to have played a small role in helping to facilitate such incredible conversations. These luncheons have grown into a community-driven initiative, truly fueled by the passion and commitment of our local nonprofits.</p>
</div>
