<div class="center-me margin-top-75">
    <h2 class="">Our Successful Relaunch of Nonprofit Lunch and Learns</h2>
    <p><span class="fa fa-pencil"></span> Megan Tankersley</p>
    <div class="share-me" id="share-brownbags"></div>
</div>
<div class="col-sm-12 col-md-8 col-md-offset-2 mobile-margin-b margin-b-100">
    <p>This year, SOURCE relaunched our speaker series, previously titled ‘Nonprofit Brown Bags’ as the new  ‘Nonprofit Lunch and Learn’ series. We decided to use the start of 2017 as an opportunity to rebrand and rethink the existing Nonprofit Brown Bag program.</p>
    <div class="modal-img-container">
        <img class="modal-photo" src="/assets/img/SOURCE/brownbags/NLLPhoto.jpg">
    </div>
    <p>	While the Nonprofit Brown Bag series has provided a great service to the community over the past couple of years,there was still  room for improvement. One opportunity for growth was finding a way to formalize the educational component and encourage continuous learning. In addition to developing the educational aspects, we also wanted to expand and reinvigorate community collaboration. </p>

    <p>By rebranding the program, it gave us the chance to improve these two aspects as well as establish a clear mission and set new goals that would help the program further develop. Through this process we established that the purpose of NLLs would be to connect with local nonprofits, for speakers to share ideas and inspire progress, and an opportunity for nonprofits to advance themselves and their community. </p>

    <p>After establishing this new mission, we decided to create ambitious goals to push us to make these luncheons even more beneficial to the community. The new goals of NLLs are to expose nonprofits to geographically diverse perspectives, to individualize educational workshops to local community needs, and to bring innovative perspectives and a fresh lens on traditional challenges.</p>

    <p>With these new goals in mind, we decided to bring in two speakers that used innovative ideas, tailored their ideas to community needs, made their workshops interactive and collaborative, and inspired change. The first of these speakers was Scott Sherman, Kravis Leadership Institute’s new Senior Director of Social Innovation. He gave a presentation on “How We Win: The Science of Making the World a Better Place” where he shared that the key to success was speaking the truth to others and oneself, not thinking in ‘us vs. them’, and not fighting force with force. By sharing his story and his ideas, he was able to put a new perspective on the traditional idea of “winning.”</p>

    <p>The next speaker was Gemma Bulos who is the Director of Social Innovation and Impact, also at Claremont McKenna’s Kravis Leadership Institute. In her presentation about “Impact Analysis” she shared her story about the nonprofits she started and demonstrated how other nonprofits could make the same impact she did by finding their three core services, establishing the difference between their outputs and outcomes, and mapping out their specific outcomes. </p>

    <p>Nonprofit Lunch and Learns have come a long way in the past year and this rebranding was an opportunity to focus on what we wanted to achieve through these luncheons and the find new ways to make an impact on our community.</p>
</div>
