<div class="center-me margin-top-75">
    <h2 class="">A Review of Our First Ever SOURCE Symposium</h2>
    <p><span class="fa fa-pencil"></span> Vanessa Liu</p>
    <div class="share-me" id="share-symposium"></div>
</div>
<div class="col-sm-12 col-md-8 col-md-offset-2 mobile-margin-b margin-b-100">
    <p>This year, SOURCE hosted its first ever year-end Symposium to showcase and celebrate SOURCE's impact in the community. The SOURCE Symposium took place the morning of April 29th on Claremont McKenna’s campus, and featured presentations from our seven SOURCE teams on the projects they worked on and the impact generated for our nonprofit community.</p>
    <div class="modal-img-container">
        <img class="modal-photo" src="/assets/img/SOURCE/symposium/vanessa-symposium.jpg">
    </div>
    <p>Our teams worked with staff from Deloitte, including CMC alum Chris Brandt, a Partner at the firm, to craft the most engaging and effective presentations for our audience. These presentations not only served as a formal closure to our client relationships, but also provided educational content for other nonprofit staff who face similar challenges and who found our solutions transferable to their own organization. Carmen Hall, the Executive Director of Pacific Lifeline, commented afterwards that she had been taking notes the entire presentation and was incredibly excited to bring back some ideas to her team.</p>
    <div class="modal-img-container">
        <img class="modal-photo" src="/assets/img/SOURCE/symposium/janet-michael-1.jpg">
    </div>
    <div class="modal-img-container">
        <img class="modal-photo" src="/assets/img/SOURCE/symposium/michael-symposium.jpg">
    </div>
    <p>Following the presentations, we hosted a luncheon to celebrate the successes of our teams, our clients, and our Claremont nonprofit community. More than 35 nonprofit representatives and community members attended the Symposium, as well as a number of Claremont McKenna students and faculty, including President Hiram Chodosh.</p>
    <div class="modal-img-container">
        <img class="modal-photo" src="/assets/img/SOURCE/symposium/thank-you-symposium.jpg">
    </div>
</div>