<div class="center-me margin-top-75">
    <h2 class="">A Review of Our Second Annual SOURCE Symposium</h2>
    <p><span class="fa fa-pencil"></span> Lili Muskal</p>
    <div class="share-me" id="share-symposium"></div>
</div>
<div class="col-sm-12 col-md-8 col-md-offset-2 mobile-margin-b margin-b-100">
    <p>This year, SOURCE hosted its second annual, year-end Symposium to showcase and celebrate our impact in the community. The Symposium took place the afternoon of Friday, April 28th at Claremont Mckenna College’s Marian Miner Cook Athenaeum. Considering feedback from last year’s event, Lisa Hao ‘20 preserved the presentation aspect of the event, but incorporated it into a more interactive environment to showcase our work. Thus, each of the seven SOURCE teams set-up individual tables where they displayed their deliverables from the year, and were able to converse with the attendees.</p>
    <div class="modal-img-container">
        <img class="modal-photo" src="/assets/img/SOURCE/symposium/Symposium1.jpg">
    </div>
    <p>To kick off the Symposium, Jack Segal ‘18 and I began with a brief presentation celebrating the year and highlighting our community partners. After the presentation, the event opened up to small, informal, group sessions at the seven tables to discuss how the SOURCE consultants approached their clients’ challenges. The Symposium was attended by over 40 community leaders, professors, and students. We hope to see you at next year’s event.</p>
    <div class="modal-img-container">
        <img class="modal-photo" src="/assets/img/SOURCE/symposium/Symposium2.jpg">
    </div>
    
    <blockquote>Favorite part: “Visiting the student booths, listening to them share the things they learned and accomplished.” <br> - Carrie Palmer, Children’s Foundation of America</blockquote>

    <blockquote>Favorite part: “Probably in this order: visiting with the students at the various kiosks, opening remarks, and the food was great!” <br> - Robin Gottuso CLASP</blockquote>

    <div class="modal-img-container">
        <img class="modal-photo" src="/assets/img/SOURCE/symposium/Symposium3.jpg">
    </div>
    
</div>